:root {
	--color-black: #000000;
	--color-grey: #BFBFBF;
	--color-dark-grey: #333333;
	--color-white: #FFFFFF;
	--color-faded-white: #EFEFEF;
	--color-light-blue: #72C3DC;
	--color-dark-blue: #2B8EAD;
	--color-faded-blue: #6F98A8;
	--color-saturated-blue: #2F454E;
}